<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiju.dao.IUserDao">

    <!--用户注册使用-->
    <insert id="signup" parameterType="com.yiju.bean.UserInfo">
        insert into tb_user(phone,password,create_time,update_time) value (#{phone},#{password},#{create_time},#{update_time})
    </insert>

    <!--根据手机号获取用户的信息-->
    <select id="checkPhone" resultType="UserInfo" parameterType="String">
        select * from tb_user where phone=#{phone}
    </select>

    <!--通过手机号和密码登录-->
    <select id="loginByPassword" parameterType="UserInfo" resultType="com.yiju.bean.UserInfo">
        select * from tb_user where phone=#{phone} and password=#{password}
    </select>

    <!--通过用户的ID和密码进行登录验证-->
    <select id="loginByIdPassword" parameterType="UserInfo" resultType="UserInfo">
        select * from tb_user where user_id=#{user_id} and password=#{password}
    </select>

    <!--通过ID获取用户的基本信息-->
    <select id="getUserInfoById" parameterType="int" resultType="com.yiju.bean.UserInfo">
        select * from tb_user where user_id=#{user_id}
    </select>

    <!--更新用户的基本信息-->
    <select id="updateUserInfo" parameterType="com.yiju.bean.UserInfo">
        update tb_user set truename=#{truename},nickname=#{nickname},gender=#{gender},city=#{city},update_time=#{update_time} where user_id=#{user_id}
    </select>

    <!--更新用户的密码-->
    <update id="updateUserPsd" parameterType="com.yiju.bean.UserInfo">
        update tb_user set password=#{password} where user_id=#{user_id}
    </update>

    <!--通过用户的ID获取用户的认证信息-->
    <select id="getUserAuthById" parameterType="int" resultType="com.yiju.bean.UserAuth">
        select * from tb_user_auth where user_id=#{user_id}
    </select>
    
    <!--提交认证信息-->
    <insert id="postUserAuth" parameterType="com.yiju.bean.UserAuth">
        insert into tb_user_auth(user_id,user_name,user_gender,user_card,user_card_address,user_live_address,create_time,update_time) value(#{user_id},#{user_name},#{user_gender},#{user_card},#{user_card_address},#{user_live_address},#{create_time},#{update_time})
    </insert>

    <!--删除用户的认证信息-->
    <update id="deleteUserAuth" parameterType="int">
        update tb_user_auth set is_delete='1' where user_id=#{user_id}
    </update>


    <!--修改用户的认证信息-->
    <update id="updateUserAuth" parameterType="com.yiju.bean.UserAuth">
        update tb_user_auth set user_card_address=#{user_card_address},user_live_address=#{user_live_address},user_cardimg=#{user_cardimg},user_propertyimg=#{user_propertyimg} where user_id=#{user_id}
    </update>

    <!--以下lf修改-->

    <!--提交用户的收藏信息-->
    <insert id="postCollect" parameterType="com.yiju.bean.Collect">
        insert into tb_collect(user_id, house_id, is_delete, create_time, update_time) values (#{user_id},#{house_id},#{is_delete},#{create_time},#{update_time})
    </insert>

    <!--删除指定房源的收藏信息-->
    <delete id="deleteCollect" parameterType="int">
        delete from tb_collect where house_id=#{house_id}
    </delete>

    <!--得到指定房源的收藏信息，以判断该房源是否已被收藏-->
    <select id="getCollectByHouseId" parameterType="int" resultType="com.yiju.bean.Collect">
        select * from tb_collect where house_id=#{house_id}
    </select>

    <select id="getCollectByUserAndHouse" parameterType="com.yiju.bean.Collect" resultType="com.yiju.bean.Collect">
        select * from tb_collect where user_id=#{user_id} and house_id=#{house_id}
    </select>

    <select id="getAllCollectByUser" parameterType="int" resultType="com.yiju.bean.CollectView">
        select * from v_collect where user_id=#{user_id} and is_delete=0
    </select>

    <update id="deleteCollectByCollId" parameterType="int">
        update v_collect set is_delete=1 where coll_id=#{coll_id}
    </update>

    <update id="updateCollectAddColl" parameterType="int">
        update v_collect set is_delete=0 where coll_id=#{coll_id}
    </update>

    <!---->
    <insert id="postNeed" parameterType="com.yiju.bean.Need">
        insert into tb_need(user_id, need_title, need_details, create_time) value (#{user_id},#{need_title},#{need_details},#{create_time})
    </insert>

    <select id="getNeed" resultType="com.yiju.bean.Need">
        select * from tb_need where is_delete=0 order by need_id desc
    </select>

</mapper>